.footer
{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: #6c6969;
    padding: 20px 10px;
    border-top: 1px solid #ddd;

}
h1
{
    color: #fff;
    font-weight: bald;
    font-size: 20px; 
}
p
{
    color: #fff;
    font-size: 12px;
}
a
{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 16px;
}
a:hover
{
    color: var(--primary-color)
}
i
{
    padding: 0px 5px;
}

