.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
.custom-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .custom-button {
    margin-top: 20px;
    width: 100%;
    background-color: #007bff;
    border: none;
  }
  
  .custom-button:hover {
    background-color: #0062cc;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #007bff;
  }
  
  .form-control::placeholder {
    color: #aaa;
  }
  