<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>
    <br>
    <p>
        I've created an application that promotes an active lifestyle by allowing users to complete challenges and earn points. 
        The app includes a feature that enables users to create and share custom challenges with friends, and a leaderboard to track progress and compete with others. 
        The user-friendly interface and modern design make it easy to navigate and access all the app's features.
    </p>
</div>